*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
}
h2 {
  font-size: 25px;
}
body {
  background-image: url('background.jpg');
  background-size: 100%;

}
 /* a card div that is used as a template  */
.Card {
  padding-left: 10px;
  padding-top: 15px;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

}
/*  the general info containing the text of the home page*/
#Generalinfo {
  display: inline-block;
  width: 500px;
  margin-top: 100px;
  float: left;
  color: white;
  margin-left: 80px;

}

#Quiz{
  float: right;
  margin-right: 10px;
  margin-top: 20px;
  width: 36%;

}

#Quiz > .Card {
  width: 95%;

}

/* the container for quiz text */
#Text {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  width: 60%;

}

/* the card inside of the container Text that is the container of the quiz text*/
#Text > .Card{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 10px;
}
#quizbox {
  border-radius: 15px;
}

/* the question box containing the checkboxes and question */
.Questionbox{
  margin-bottom: 10px;
}


/* the container for the summary cards */
#Pagesummary {
  margin-top: 80px;
  height: 100%;
  float: right;
  margin-right: 30px;
}

.submitbutton{
  padding: 5px;
  border-radius: 10px;
}

.Questionbox {
  background:  #f4f4f4;
  border-radius: 10px;
  margin-right: 15px;
  padding: 10px;
  box-shadow: 2px 2px lightgray;
}
#PageC{
  position: absolute;
}
/* the Page summary or Summary cards that are link to the diffrent topics */
#Pagesummary > a{
  margin-left: 20px;
  margin-top: 20px;
  width: 400px;
  background: white;
  text-decoration: none;
  height: 80px;
  color: black;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(255, 255, 255, 0.75);
}

#Logo{
  display: inline-block;
  margin-left: 20px;
}
/* dash board of the website, containing menu and logo  */
#Dash {
      width: 100%;
      margin-top: 20px;
      overflow: hidden;
      height: 80px;
      background: rgba(255, 255, 255,1);
}
#Meny{
      list-style-type: none;
      padding-right: 100px;
      display: inline-block;
      float: right;
      margin-top: 30px;


}
ul {
    list-style-type: none;
    overflow: hidden;
}

li {
  float:right;
}

li a  {
  display: block;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 5px;


}
li a:hover {
  background-color: #e1e3e2;
}

#Pagesummary > .Card:hover{
  margin-right: 25px;

}

#MenyTitel{

}
